<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span>Bookings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Booking</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (bookings().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Booking trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bookingDate">
              <div class="d-flex">
                <span>Booking Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="member.id">
              <div class="d-flex">
                <span>Member</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="classSession.id">
              <div class="d-flex">
                <span>Class Session</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (booking of bookings(); track trackId(booking)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/booking', booking.id, 'view']">{{ booking.id }}</a>
              </td>
              <td>{{ booking.bookingDate | formatMediumDatetime }}</td>
              <td>{{ { null: '', CONFIRMED: 'CONFIRMED', CANCELLED: 'CANCELLED' }[booking.status ?? 'null'] }}</td>
              <td>
                @if (booking.member) {
                  <div>
                    <a [routerLink]="['/member', booking.member.id, 'view']">{{ booking.member.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (booking.classSession) {
                  <div>
                    <a [routerLink]="['/class-session', booking.classSession.id, 'view']">{{ booking.classSession.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/booking', booking.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a [routerLink]="['/booking', booking.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(booking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
