<div id="page-heading" data-cy="MemberHeading" class="position-relative text-center mb-4">
  <h2 class="m-0">Members</h2>

  <div class="position-absolute end-0 top-50 translate-middle-y">
    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-member"
      [routerLink]="['/member/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span>Create new member</span>
    </button>
  </div>
</div>
<jhi-alert-error />

<jhi-alert />

@if (members().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span>Aucun membre trouvé</span>
  </div>
} @else {
  <div class="table-responsive table-entities">
    <table class="table table-striped align-middle">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th jhiSortBy="id">ID <fa-icon icon="sort"></fa-icon></th>
          <th jhiSortBy="firstName">First Name <fa-icon icon="sort"></fa-icon></th>
          <th jhiSortBy="lastName">Last Name <fa-icon icon="sort"></fa-icon></th>
          <th jhiSortBy="email">Email <fa-icon icon="sort"></fa-icon></th>
          <th jhiSortBy="email">Phone <fa-icon icon="sort"></fa-icon></th>
          <th class="text-end">Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (member of members(); track trackId(member)) {
          <tr>
            <td>
              <a [routerLink]="['/member', member.id, 'view']">
                {{ member.id }}
              </a>
            </td>

            <td>{{ member.firstName }}</td>
            <td>{{ member.lastName }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.phoneNumber }}</td>

            <td class="text-end">
              <div class="btn-group btn-group-sm">
                <a [routerLink]="['/member', member.id, 'view']" class="btn btn-outline-info">
                  <fa-icon icon="eye"></fa-icon>
                </a>

                <a [routerLink]="['/member', member.id, 'edit']" class="btn btn-outline-primary">
                  <fa-icon icon="pencil-alt"></fa-icon>
                </a>

                <button (click)="delete(member)" class="btn btn-outline-danger">
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
