<div>
  <h2 id="page-heading" data-cy="StravaAccountHeading">
    <span>StravaAccounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-strava-account"
        [routerLink]="['/strava-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Strava Account</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (stravaAccounts().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Strava Account trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="stravaUserId">
              <div class="d-flex">
                <span>Strava User Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accessToken">
              <div class="d-flex">
                <span>Access Token</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (stravaAccount of stravaAccounts(); track trackId(stravaAccount)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/strava-account', stravaAccount.id, 'view']">{{ stravaAccount.id }}</a>
              </td>
              <td>{{ stravaAccount.stravaUserId }}</td>
              <td>{{ stravaAccount.accessToken }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/strava-account', stravaAccount.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a [routerLink]="['/strava-account', stravaAccount.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(stravaAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
