<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (booking(); as bookingRef) {
      <div>
        <h2 data-cy="bookingDetailsHeading"><span>Booking</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ bookingRef.id }}</span>
          </dd>
          <dt><span>Booking Date</span></dt>
          <dd>
            <span>{{ bookingRef.bookingDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ { null: '', CONFIRMED: 'CONFIRMED', CANCELLED: 'CANCELLED' }[bookingRef.status ?? 'null'] }}</span>
          </dd>
          <dt><span>Member</span></dt>
          <dd>
            @if (booking()!.member) {
              <div>
                <a [routerLink]="['/member', booking()!.member?.id, 'view']">{{ bookingRef.member?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Class Session</span></dt>
          <dd>
            @if (booking()!.classSession) {
              <div>
                <a [routerLink]="['/class-session', booking()!.classSession?.id, 'view']">{{ bookingRef.classSession?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/booking', bookingRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
